.row {
  margin-left: 20px;
  color: white;
}
.row__posters {
  display: flex;
  overflow-y: hidden;
  overflow-x: scroll;
  padding: 20px;
}

.row__posters::-webkit-scrollbar {
  display: none;
}

.row__poster {
  max-height: 100px;
  margin-right: 10px;
  transition: transform 450ms;
  object-fit: cover;
}

.row__poster:hover {
  transform: scale(1.08);
}

.row__posterLarge {
  max-height: 250px;
}

.row__modal-title {
  display: flex;
  width: 100%;
  justify-content: space-between;
  margin-top: 10px;
}

.row__modal-btn-cover {
  display: flex;
  justify-content: space-between;
  width: 80px;
  margin-right: 30px;
}

a {
  text-decoration: none;
}
